extends layout

block content
  .row
    .display-3.pageTitle.capitalize=title
  .row
    h2.sectionTitle.capitalize=subsection.title
  .components-edit-div
    .accordion(id="accordionExample")
      each component, index in subsection.components
        .accordion-item
          .accordion-header
            button.accordion-button(type="button" data-bs-toggle="collapse" data-bs-target=`#component-${index}` aria-expanded="true" aria-controls="collapseOne")
              .componentTitle.capitalize=component.title 
          .accordion-collapse.collapse(id=`component-${index}` data-bs-parent="#accordionExample")
            .accordion-body
        //a(href="/playground")
          .row.component.component-edit.capitalize
            .componentTitle=component.title
