extends layout

block content
  .row
    .col.d-flex.justify-content-end
      a(href='/sections' class='homeButton') home
  .row
    .pageTitle.capitalize=sectionTitle
  .row
  if !subsections.length
    .col
      p There is no content for this section yet.
      a(href="/sections").navLink Go back to title page
  else
    .col.d-flex.justify-content-end
      button.resetLocalStorage Reset Pretrip
    form(action="") 
      each subsection in subsections
        .subsection
          .row
            .col.d-flex.justify-content-between
              h2.capitalize.sectionTitle= subsection.title
              a(href=`/sections/${toKebab(sectionTitle)}/${toKebab(subsection.title)}/edit`)
                i.far.fa-edit
          p.text-muted.subtext #{subsection.components.length} components
          each component in subsection.components
            .component(id=component._id)
              .row
                .col.d-flex.justify-content-between
                  h3.capitalize.componentTitle= component.title 
                  // i.far.fa-edit
              .row
              each attribute, index in component.attributes
                input.attribute.toggleable(type="checkbox", value=attribute, name=index, id=`{"${component._id}":"${index}"}`)
                label(for=`{"${component._id}":"${index}"}`)=attribute
    .col.d-flex.justify-content-center
      a.mr.navLink-secondary(href='/sections') Back to title page
      a.navLink(href=`/sections/ID/${ID + 1}`) Next Section
