extends layout

block content
  .row
    .display-3.pageTitle.capitalize=section.title
  .row
  if !section.subsections.length
    .col
      p There is not yet content for this section.
      a(href="/sections").returnLink Go back to title page
  else
    .col.d-flex.justify-content-center
      button.resetLocalStorage Reset Pretrip
    form(action="") 
      each subsection in section.subsections
        .subsection
          h2.capitalize.sectionTitle= subsection.title
          p.text-muted.subtext #{subsection.components.length} components
          each component in subsection.components
            .component
              h3.capitalize.componentTitle= component.title 
              .row
              each attribute, index in component.attributes
                input.toggleable(type="checkbox", value=attribute, name=index, id=`{"${component._id}":"${index}"}`)
                label(for=`{"${component._id}":"${index}"}`)=attribute
    .col.d-flex.justify-content-center
      a.navLink.btn-primary(href=`/sections/ID/${section.ID + 1}`) Next Section
  script(src="../javascripts/section/sectionHandlers.js")
