extends layout

block content
  .row
    .display-3.pageTitle.capitalize=title
  .row
  if !subsections.length
    .col
      p There is no content for this section yet.
      a(href="/sections").navLink Go back to title page
  else
    .col.d-flex.justify-content-center
      button.resetLocalStorage Reset Pretrip
    form(action="") 
      each subsection in subsections
        .subsection
          h2.capitalize.sectionTitle= subsection.title
          p.text-muted.subtext #{subsection.components.length} components
          each component in subsection.components
            .component
              h3.capitalize.componentTitle= component.title 
              .row
              each attribute, index in component.attributes
                input.toggleable(type="checkbox", value=attribute, name=index, id=`{"${component._id}":"${index}"}`)
                label(for=`{"${component._id}":"${index}"}`)=attribute
    .col.d-flex.justify-content-center
      a.mr.navLink-secondary(href='/sections') Back to title page
      a.navLink(href=`/sections/ID/${ID + 1}`) Next Section
    script(src="../javascripts/section/sectionHandlers.js")
